[main]
cachedir=CACHE-DIR

[dt-main]
name=Fedora Rawhide
baseurl=https://kojipkgs.fedoraproject.org/compose/rawhide/latest-Fedora-Rawhide/compose/Everything/$basearch/os/
enabled=1
gpgcheck=0

[dt-main-source]
name=Fedora Rawhide - Source
baseurl=https://kojipkgs.fedoraproject.org/compose/rawhide/latest-Fedora-Rawhide/compose/Everything/source/tree/
enabled=1
gpgcheck=0
